<div class="columns is-multiline is-mobile p-2">
    {{#if this.isEmpty}}
        <div class="card-header-title is-size-3">Không có lịch sử sản phẩm đang bán</div>
    {{else}}
        {{#each this.list}}
            <div class="column is-4-tablet is-12-mobile ">
                <div class="card p-5 m-4">

                    <header class="card-header">
                        <p class="card-header-title is-size-4">
                            {{ProName}}
                        </p>
                        <span class="tag is-medium is-danger">live</span>
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/product/detail/{{ProID}}">
                                <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content py-2 px-0">
                        <strong class="is-block has-text-info-dark"> Giá hiện tại: <span
                                class="has-text-danger-dark">{{PriceCurrent}}</span></strong>
                        <strong class="is-block has-text-info-dark"> Giá mua ngay: <span
                                class="has-text-danger-dark">{{PriceWin}}</span></strong>
                        <hr class="navbar-divider"/>
                        <div class="content">
                            <strong class="is-block"> Bidder: <a>@{{Bidder}}</a></strong>
                            <strong class="is-block"> Số lượt ra giá: <a href="#">#{{BidderCount}}</a></strong>
                            <hr class="navbar-divider"/>
                            <time datetime="2016-1-1" class="is-block "><strong class="has-text-primary-dark">Ngày
                                đăng:</strong>
                                {{DateStart}}
                            </time>
                            <time datetime="2016-1-1" class="is-block"><strong class="has-text-primary-dark">Còn lại:</strong>
                                {{DateEnd}}
                            </time>
                        </div>
                    </div>

                </div>
            </div>
        {{/each}}
    {{/if}}

</div>