{{#section 'js'}}
    <script>
        function categoryClick(CatID) {
            if ($(".category-" + CatID).hasClass("is-active")) {
                $(".category-" + CatID).removeClass("is-active");
                $(".list-" + CatID).toggleClass("is-hidden");
            } else {
                $(".manual").removeClass("is-active");
                $(".manual-list").removeClass("is-hidden").toggleClass("is-hidden");

                $(".category-" + CatID).toggleClass("is-active");
                $(".list-" + CatID).removeClass("is-hidden");
            }
        }

        function commentSeller() {
            if ($('.comment').hasClass("is-hidden")) {
                $('.comment').removeClass("is-hidden")
            } else {
                $('.comment').toggleClass("is-hidden")
            }
        }


    </script>
{{/section}}


<div class="columns is-multiline is-mobile p-2">
    {{#if this.isEmpty}}
        <div class="card-header-title is-size-3">Không có sản phẩm đã bán</div>
    {{else}}
        {{#each this.list}}
            <div class="column is-4-desktop is-6-tablet is-12-mobile card-hover">
                <div class="card p-5 m-4">
                    <header class="card-header" style="height: 60px">
                        <p class="card-header-title is-size-5-desktop is-size-5-tablet is-size-7-mobile">
                            {{ProName}}
                        </p>
                        <span class="tag is-danger is-medium">sold</span>
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/product/detail/{{ProID}}">
                                <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content py-2 px-0 is-size-6-desktop is-size-6-tablet is-size-7-mobile">
                        <strong class="is-block has-text-info-dark my-2"> Giá thắng: <span
                                class="has-text-success">#{{format_number PriceWinAll}}</span></strong>
                        <strong class="is-block has-text-info-dark"> Người mua: <a class="has-text-grey-dark">@{{Bidder}}</a></strong>

                        {{#unless pointFromSeller}}
                            <hr class="navbar-divider has-background-black"/>

                            <footer class="card-footer is-size-7-mobile">
                                <form action="/seller/soldProduct/like/{{ProID}}" method="post" id="like_bidder-{{ProID}}"></form>
                                <a href="javascript: $('#like_bidder-{{ProID}}').submit();" class="card-footer-item">
                                    <span class="has-text-info"><i class="fa fa-thumbs-up"></i></span></a>

                                <form action="/seller/soldProduct/dislike/{{ProID}}" method="post" id="dislike_bidder-{{ProID}}"></form>
                                <a href="javascript: $('#dislike_bidder-{{ProID}}').submit();" class="card-footer-item">
                                    <span class="has-text-danger"><i class="fa fa-thumbs-down"></i></span>
                                </a>
                            </footer>
                        {{/unless}}

                        {{#unless commentSeller}}
<!--                            <div class="box">-->
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Nhận xét
                                        </p>
                                        <a class="card-header-icon card-toggle" onclick="commentSeller();">
                                                <i class="fa fa-sort-desc"></i>
                                        </a>
                                    </header>
                                    <div class="card-content">
                                        <div class="comment is-hidden">
                                            <div class="notification is-warning check-info is-hidden">
                                                <strong>Vui lòng thêm nhận xét</strong>
                                            </div>
                                            <div class="control">
                                                <form action="/seller/soldProduct/{{ProID}}" method="post" id="frmComment-seller-{{ProID}}">
                                                    <textarea class="textarea"
                                                                id="txtComment"
                                                                name="comment"
                                                                placeholder="Nhập ở đây">
                                                    </textarea>
                                                </form>
                                                <br>
                                                <a class="button is-success fa fa-check"
                                                   href="javascript: $('#frmComment-seller-{{ProID}}').submit();"> Lưu</a>

                                            </div>
                                        </div>

                                    </div>
                        {{/unless}}
                    </div>

                    {{#unless isCancel}}
                        <footer class="card-footer is-size-7-mobile">
                            <form action="/seller/cancelSoldProduct/{{ProID}}" method="post" id="cancelSold-{{ProID}}"></form>
                            <a href="javascript: $('#cancelSold-{{ProID}}').submit();" class="card-footer-item">
                                <span class="has-text-danger">Hủy giao dịch</span>
                            </a>
                        </footer>
                    {{/unless}}


                </div>
            </div>
        {{/each}}

        <div class="column is-12">
            <nav
                    class="pagination is-centered"
                    role="navigation"
                    aria-label="pagination"
            >
                {{#if this.pagePrev.isVisible}}
                    <a class="pagination-previous " href="?page={{this.pagePrev.page}}">Trang trước</a>
                {{/if}}
                {{#if this.pageNext.isVisible}}
                    <a class="pagination-next" href="?page={{this.pageNext.page}}">Trang sau</a>
                {{/if}}

                <ul class="pagination-list">
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li><a class="pagination-link is-current" href="javascript:;">{{value}}</a></li>
                        {{else}}
                            <li><a class="pagination-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    {{/if}}

</div>