{{#section 'js'}}
    <script>
        const listIDText = document.getElementById("listId").value;
        const listID = listIDText.split(' ');
        for (let i = 0; i < listID.length; i++) {
            const dateInput = document.getElementById("dateInput" + listID[i]).value;
            const date = dateInput.split(" ")[0];
            const time = dateInput.split(" ")[1];
            const day = date.split('/')[0];
            const month = date.split('/')[1];
            const year = date.split('/')[2];
            const h = time.split(':')[0];
            const m = time.split(':')[1];
            let countDownDate = new Date(+year, +month - 1, +day, +h, +m, 0, 0).getTime();
            let x = setInterval(function () {
                // Get today's date and time
                let now = new Date().getTime();
                // Find the distance between now and the count down date
                let distance = countDownDate - now;
                // Time calculations for days, hours, minutes and seconds
                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);
                // Display the result in the element with id="demo"
                let countdown = '';
                if (days != 0) {
                    countdown += days + " ngày "
                }
                if (hours != 0) {
                    countdown += hours + " giờ "
                }
                if (minutes != 0) {
                    countdown += minutes + " phút "
                }
                countdown += seconds + " giây";
                document.getElementById("dateEnd" + listID[i]).innerHTML = countdown;

                // document.getElementById("dateEnd"+listID[i]).innerHTML = days + " ngày " + hours + " giờ "
                //         + minutes + " phút " + seconds + " giây";
                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("dateEnd" + listID[i]).innerHTML = "Hết hạn"
                }
            }, 10);
        }
    </script>
{{/section}}
<div class="columns is-multiline is-mobile p-2">
    {{#if this.isEmpty}}
        <div class="card-header-title is-size-3">Không có sản phẩm yêu thích</div>
    {{else}}
        <input type="text" value="{{this.listID}}" id="listId" class="is-hidden">
        {{#each this.list}}
            <div class="column is-4-desktop is-6-tablet is-12-mobile card-hover">
                <div class="card p-5 m-4 ">
                    <header class="card-header" style="height: 60px">
                        <p class="card-header-title is-size-5-desktop is-size-5-tablet is-size-7-mobile">
                            {{ProName}}
                        </p>
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/product/detail/{{ProID}}">
                                <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content py-2 px-0 is-size-6-desktop is-size-6-tablet is-size-7-mobile">
                        <strong class="is-block has-text-info-dark"> Giá hiện tại: <span
                                class="has-text-danger-dark">{{format_number PriceCurrent}}</span></strong>
                        <strong class="is-block has-text-info-dark"> Giá mua ngay: <span
                                class="has-text-danger-dark">{{format_number PriceWin}}</span></strong>
                        <hr class="navbar-divider"/>
                        <div class="content">
                            <strong class="is-block"> Bidder: <a>@{{Bidder}}</a></strong>
                            <strong class="is-block"> Số lượt ra giá: <a href="#">#{{BidderCount}}</a></strong>
                            <hr class="navbar-divider"/>
                            <time datetime="2016-1-1" class="is-block "><strong class="has-text-primary-dark">Ngày
                                đăng:</strong>
                                {{DateStart}}
                            </time>
                            <input class="is-block is-hidden" id="dateInput{{ProID}}" value="{{DateEnd}}">
                            <time datetime="2016-1-1" class="is-block"><strong class="has-text-primary-dark">Còn lại:</strong>
                                <span class="has-text-danger" id="dateEnd{{ProID}}"></span>
                            </time>
                        </div>
                    </div>

                    <footer class="card-footer is-size-7-mobile">
                        <form action="/info/cancelFavorite/{{ProID}}" method="post" id="frmCancelFavorite"></form>
                        <a href="javascript: $('#frmCancelFavorite').submit();" class="card-footer-item">
                            <span class="is-small mr-1 has-text-danger"><i class="fa fa-heart"></i></span>
                            Hủy yêu thích
                        </a>
                    </footer>
                </div>
            </div>
        {{/each}}
        <div class="column is-12">
            <nav
                    class="pagination is-centered"
                    role="navigation"
                    aria-label="pagination"
            >
                {{#if this.pagePrev.isVisible}}
                    <a class="pagination-previous " href="?page={{this.pagePrev.page}}">Trang trước</a>
                {{/if}}
                {{#if this.pageNext.isVisible}}
                    <a class="pagination-next" href="?page={{this.pageNext.page}}">Trang sau</a>
                {{/if}}

                <ul class="pagination-list">
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li><a class="pagination-link is-current" href="javascript:;">{{value}}</a></li>
                        {{else}}
                            <li><a class="pagination-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    {{/if}}
</div>