{{#section 'loadmore_history_bidder'}}
    <script>
        let offset_bidder = 1;

        function loadmore_history_bidder(username){
            $.getJSON(`/account/loadmoreBidder?offset=${offset_bidder}&username=${username}`, function (data) {
                const list = JSON.parse(JSON.stringify(data));
                let html = "";

                if(list.length ===0){
                    $('.loadmore_history_bidder').toggleClass("is-hidden");
                    return;
                }

                for (let i = 0; i < data.length; i++) {
                    html += `<div class="column is-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="/img/product/${data[i].ProID}/1.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">${data[i].ProName}</p>
                                    <p class="subtitle is-6"><strong>Người bán:</strong> <a href="/account/infoHistory/${data[i].Seller}">@${data[i].Seller}</a></p>
                                </div>
                            </div>

                            <div class="content">
                                <p><strong>Mua với giá:</strong> <strong class="has-text-danger">${data[i].PriceWinAll} vnđ</strong></p>
                                <strong>Nhận xét từ người bán:`;

                    if(data[i].pointFromSeller){
                        html += `<span class="icon is-small">`;
                        if(data[i].isPositiveFromSeller){
                            html += `<i class="fa fa-thumbs-up has-text-info"></i>`;
                        }else{
                            html += `<i class="fa fa-thumbs-down has-text-danger"></i>`;
                        }
                        html += `</span> </strong>`;
                    }
                    if(data[i].commentSeller){
                        html += `<p class="card-header-title has-text-info">${data[i].commentSeller}</p>`
                    }else{
                        html += `<p class="card-header-title has-text-info">Chưa có nhận xét từ người bán</p>`
                    }

                    html += `</div></div></div></div>`;

                }

                // Appending the data below old data in <tbody> tag
                document.getElementById("data_bidder").innerHTML += html;

                offset_bidder = offset_bidder + 1;

            });
        }

    </script>
{{/section}}
{{#section 'loadmore_history_seller'}}
    <script>
        let offset_seller = 1;

        function loadmore_history_seller(username){

            $.getJSON(`/account/loadmoreSeller?offset=${offset_seller}&username=${username}`, function (data) {
                const list = JSON.parse(JSON.stringify(data));
                let html = "";

                if(list.length === 0){
                    $('.loadmore_history_seller').toggleClass("is-hidden");
                    return;
                }

                for (let i = 0; i < data.length; i++) {
                    html += `<div class="column is-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-96x96">
                                            <img src="/img/product/${data[i].ProID}/1.png" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">${data[i].ProName}</p>
                                        <p class="subtitle is-6"><strong>Người mua:</strong> <a href="/account/infoHistory/${data[i].Bidder}">@${data[i].Bidder}</a></p>
                                    </div>
                                </div>

                                <div class="content">
                                    <p><strong>Bán với giá:</strong> <strong class="has-text-danger">${data[i].PriceWinAll} vnđ</strong></p>
                                    <strong>Nhận xét từ người mua:`;

                    if(data[i].pointFromBidder){
                        html += `<span class="icon is-small">`;
                        if(data[i].isPositiveFromBidder){
                            html += `<i class="fa fa-thumbs-up has-text-info"></i>`;
                        }else{
                            html += `<i class="fa fa-thumbs-down has-text-danger"></i>`;
                        }
                        html += `</span> </strong>`;
                    }
                    if(data[i].commentBidder){
                        html += `<p class="card-header-title has-text-info">${data[i].commentBidder}</p>`
                    }else{
                        html += `<p class="card-header-title has-text-info">Chưa có nhận xét từ người bán</p>`
                    }

                    html += `</div></div></div></div>`;

                }

                // Appending the data below old data in <tbody> tag
                document.getElementById("data_seller").innerHTML += html;

                offset_seller = offset_seller + 1;

            });
        }

    </script>
{{/section}}

<div class="columns is-multiline is-mobile p-2">
    <div class="column is-12 p-5 py-0">
        <span class="tag is-success is-large">{{this.point}}%</span>
        <hr class="has-background-grey"/>
    </div>
    {{#if this.isEmpty}}
        <div class="column is-12 py-0">
            <div class="card-header-title is-size-3">Không có lịch sử mua</div>
        </div>

    {{else}}
        <div class="column is-12 py-0">
            <div class="card-header-title is-size-3 py-0">Lịch sử mua sản phẩm</div>
        </div>

        <div id="data_bidder" class="column is-12">
            {{#each this.list}}
                <div class="column is-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ProName}}</p>
                                    <p class="subtitle is-6"><strong>Người bán:</strong> <a href="/account/infoHistory/{{Seller}}">@{{Seller}}</a></p>
                                </div>
                            </div>

                            <div class="content">
                                <p><strong>Mua với giá:</strong> <strong class="has-text-danger">{{format_number PriceWinAll}} vnđ</strong></p>
                                <strong>Nhận xét từ người bán:
                                    {{#if pointFromSeller}}
                                        <span
                                                class="icon is-small">

                                            {{#if isPositiveFromSeller}}
                                                <i class="fa fa-thumbs-up has-text-info"></i>
                                            {{else}}
                                                <i class="fa fa-thumbs-down has-text-danger"></i>
                                            {{/if}}
                                        </span>
                                    {{/if}}
                                </strong>
                                {{#if commentSeller}}
                                    <p class="card-header-title has-text-info">{{commentSeller}}</p>
                                {{else}}
                                    <p class="card-header-title has-text-info">Chưa có nhận xét từ người bán</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="has-text-centered loadmore_history_bidder column is-12">
            <a class="button is-primary is-outlined" onclick="loadmore_history_bidder('{{this.username}}');">Tải thêm...</a>
        </div>
    {{/if}}
    {{#unless isBidder}}
        {{#if this.isEmptySold}}
            <div class="column is-12 py-0">
                <div class="card-header-title is-size-3">Không có lịch sử bán</div>
            </div>

        {{else}}
            <div class="column is-12 py-0">
                <div class="card-header-title is-size-3 py-0">Lịch sử bán sản phẩm</div>
            </div>

            <div id="data_seller" class="column is-12">
                {{#each this.listSeller}}
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-96x96">
                                            <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">{{ProName}}</p>
                                        <p class="subtitle is-6"><strong>Người mua:</strong> <a href="/account/infoHistory/{{Bidder}}">@{{Bidder}}</a></p>
                                    </div>
                                </div>

                                <div class="content">
                                    <p><strong>Bán với giá:</strong> <strong class="has-text-danger">{{format_number PriceWinAll}} vnđ</strong></p>
                                    <strong>Nhận xét từ người mua:
                                        {{#if pointFromBidder}}
                                            <span
                                                    class="icon is-small">

                                                {{#if isPositiveFromBidder}}
                                                    <i class="fa fa-thumbs-up has-text-info"></i>
                                                {{else}}
                                                    <i class="fa fa-thumbs-down has-text-danger"></i>
                                                {{/if}}
                                            </span>
                                        {{/if}}
                                    </strong>
                                    {{#if commentBidder}}
                                        <p class="card-header-title has-text-info">{{commentBidder}}</p>
                                    {{else}}
                                        <p class="card-header-title has-text-info">Chưa có nhận xét từ người bán</p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>


            <div class="has-text-centered loadmore_history_seller column is-12">
                <a class="button is-primary is-outlined" onclick="loadmore_history_seller('{{this.username}}');">Tải thêm...</a>
            </div>
        {{/if}}
    {{/unless}}


</div>