<div class="columns is-multiline is-mobile p-2">
    {{#if this.isEmpty}}
        <div class="card-header-title is-size-3">Không có lịch sử đấu giá</div>
    {{else}}
        <div class="column is-12 p-5 ">
            <span class="tag {{#if this.isPositive}}is-success{{else}}is-danger{{/if}} is-large">{{this.point}}</span>
            <hr class="has-background-grey"/>
        </div>

        {{#each this.list}}
            <div class="column is-4-tablet is-12-mobile ">
                <div class="card p-5 m-4">
                    <header class="card-header">
                        <p class="card-header-title is-size-5-tablet is-size-7-mobile">
                            {{ProName}}
                        </p>
                        <span class="tag is-danger is-medium">sold</span>
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/product/detail/{{ProID}}">
                                <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content py-2 px-0 is-size-7-mobile">
                        <strong class="is-block has-text-info-dark my-2"> Giá mua: <span
                                class="has-text-success">#{{PriceWinAll}}</span></strong>
                        <strong class="is-block has-text-info-dark my-2">Điểm đánh giá:
                            {{#if pointFromSeller}}
                                <span
                                    class="icon is-small">

                                    {{#if isPositiveFromSeller}}
                                        <i class="fa fa-thumbs-up"></i>
                                    {{else}}
                                        <i class="fa fa-thumbs-down has-text-danger"></i>
                                    {{/if}}
                                </span>
                            {{else}}
                                <span class="has-text-dark">Chưa đánh giá</span>
                            {{/if}}
                        </strong>
                        <hr class="navbar-divider has-background-black"/>
                        <div class="content">
                            <p class="box">
                                <span><strong>Nhận xét từ người bán:</strong></span>
                                <br>
                                {{commentSeller}}</p>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}

    {{/if}}


</div>