{{#section 'js'}}
    <script>

        function postCommentFromBidder(ProID){
            $('#frmComment-'+ProID).submit();
        }

    </script>
{{/section}}
{{#section 'js_modal_comment'}}
    <script>

        function show_dialog_comment(ProID){
            $('.modal_comment_'+ProID).toggleClass("is-active");
        };

        function close_modal_comment(ProID){
            $('.modal_comment_'+ProID).removeClass("is-active");
        }

    </script>
{{/section}}



<div class="columns is-multiline is-mobile p-2">
    {{#if this.isEmpty}}
        <div class="card-header-title is-size-3">Không có sản phẩm thắng đấu giá</div>
    {{else}}
        {{#each this.list}}
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card p-5 m-4">
                    <header class="card-header" style="height: 60px">
                        <p class="card-header-title is-size-5-desktop is-size-6-tablet is-size-7-mobile">
                            {{ProName}}
                        </p>
                        <span class="tag is-success is-medium">won</span>
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/product/detail/{{ProID}}">
                                <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content py-2 px-0 is-size-6-desktop is-size-6-tablet is-size-7-mobile">
                        <strong class="is-block has-text-info-dark my-2"> Giá thắng: <span
                                class="has-text-success">#{{format_number PriceWinAll}}</span></strong>
                        <div class="level">
                            <strong class="is-block has-text-info-dark"> Người bán: <a class="has-text-grey-dark">@{{Seller}}</a></strong>
                            <button class="tag button is-primary is-medium"
                                    onclick="show_dialog_comment('{{ProID}}');"
                                    {{#unless isComment}}disabled{{/unless}}>
                                Nhận xét</button>
                        </div>
                    </div>
                </div>
            </div>

            {{#if isComment}}
                <div class="modal modal_comment_{{ProID}}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title comment_header is-size-6">Đánh giá sản phẩm <strong>{{ProName}}</strong></p>
                            <button class="delete" aria-label="close" onclick="close_modal_comment('{{ProID}}');"></button>
                        </header>
                        <section class="modal-card-body">
                            {{#if isComment}}
                                <div class="card-header-title is-size-4 has-text-success is-link ">
                                    Nhận xét
                                </div>
                            {{/if}}

                            {{#unless commentBidder}}
                                <div class="content">
                                    <div class="box">
                                        <div class="field">
                                            <label class="label">Ghi chú</label>
                                            <div class="control">
                                                <form action="/info/wonProduct/{{ProID}}" method="post" id="frmComment-{{ProID}}">
                                                    <textarea class="textarea" name="comment" id="comment" placeholder="Nhập ở đây"></textarea>
                                                </form>
                                            </div>
                                            <button class="button is-primary mt-2" onclick="postCommentFromBidder('{{ProID}}');">Gửi</button>
                                        </div>
                                    </div>
                                </div>
                            {{/unless}}

                            {{#unless pointFromBidder}}
                                <footer class="card-footer is-size-7-mobile">
                                    <form action="/info/wonProduct/like/{{ProID}}" method="post" id="like-{{ProID}}"></form>
                                    <a href="javascript: $('#like-{{ProID}}').submit();" class="card-footer-item">
                                        <span class="has-text-info"><i class="fa fa-thumbs-up"></i></span></a>

                                    <form action="/info/wonProduct/dislike/{{ProID}}" method="post" id="dislike-{{ProID}}"></form>
                                    <a href="javascript: $('#dislike-{{ProID}}').submit();" class="card-footer-item">
                                        <span class="has-text-danger"><i class="fa fa-thumbs-down"></i></span>
                                    </a>
                                </footer>
                            {{/unless }}
                        </section>
                    </div>
                </div>
            {{/if}}

        {{/each}}
        <div class="column is-12">
            <nav
                    class="pagination is-centered"
                    role="navigation"
                    aria-label="pagination"
            >
                {{#if this.pagePrev.isVisible}}
                    <a class="pagination-previous " href="?page={{this.pagePrev.page}}">Trang trước</a>
                {{/if}}
                {{#if this.pageNext.isVisible}}
                    <a class="pagination-next" href="?page={{this.pageNext.page}}">Trang sau</a>
                {{/if}}

                <ul class="pagination-list">
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li><a class="pagination-link is-current" href="javascript:;">{{value}}</a></li>
                        {{else}}
                            <li><a class="pagination-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    {{/if}}


</div>