{{#section 'loadmore_seller'}}
    <script>
        let offset_seller = 1;

        function loadmore_seller(){
            $.getJSON(`/admin/loadmoreSeller?offset=${offset_seller}`, function (data) {
                const list = JSON.parse(JSON.stringify(data));
                let html = "";

                if(list.length === 0){
                    $('.loadmore_seller').toggleClass("is-hidden");
                    return
                }

                for (let i = 0; i < list.length; i++) {
                    html += `<tr class="has-text-centered">
                        <th>
                            <p>
                                <strong><a>#${list[i].username}</a></strong>
                            </p>
                        </th>
                        <td>${list[i].name}</td>
                        <td>${list[i].address}</td>
                        <td>${list[i].email}</td>
                        <td>`;

                    html += `<i class="is-small tag has-text-info">${list[i].point_percent}%</i>`;
                    html += `</td>
                        <td>
                            <form action="/admin/Account/degrade/${list[i].username}" method="post"
                                  id="degrade-${list[i].username}"></form>
                            <form action="/admin/Account/lock/${list[i].username}" method="post"
                                  id="lock-${list[i].username}"></form>
                            <span>
                                    <a href="javascript: $('#degrade-${list[i].username}').submit();"
                                       class="button is-size-7 is-rounded is-light">
                                        <span class="is-small">
                                            <i class="fa fa-angle-double-down has-text-success"></i>
                                        </span>
                                    </a>
                                    <a href="javascript: $("#lock-${list[i].username}").submit();"
                                       class="button is-size-7 is-rounded is-light">
                                        <span class="is-small">
                                            <i class="fa fa-lock has-text-danger-dark"></i>
                                        </span>
                                    </a>
                                </span>
                        </td>
                        <td>
                            <form action="/admin/Account/delete/${list[i].username}" method="post"
                                  id="delete-${list[i].username}"></form>
                            <a href="javascript: $("#delete-${list[i].username}").submit();">
                                <button class="delete mt-1 ml-2"></button>
                            </a>
                        </td>
                    </tr>`;
                }

                // Appending the data below old data in <tbody> tag
                document.getElementById("data_seller_account").innerHTML += html;
                offset_seller = offset_seller + 1;

            });
        }

    </script>
{{/section}}
{{#section 'loadmore_bidder'}}
    <script>
        let offset_bidder= 1;

        function loadmore_bidder(){
            $.getJSON(`/admin/loadmoreBidder?offset=${offset_bidder}`, function (data) {
                const list = JSON.parse(JSON.stringify(data));
                let html = "";

                if(list.length === 0){
                    $('.loadmore_bidder').toggleClass("is-hidden");
                    return
                }

                for (let i = 0; i < list.length; i++) {
                    html += `<tr class="has-text-centered">
                        <th>
                            <p>
                                <strong><a>#${list[i].username}</a></strong>
                            </p>
                        </th>
                        <td>${list[i].name}</td>
                        <td>${list[i].address}</td>
                        <td>${list[i].email}</td>
                        <td>`

                    html += `<i class="is-small tag has-text-info">${list[i].point_percent}%</i>`;

                    html += `</td>
                        <td>
                            <form action="/admin/Account/lock/${list[i].username}" method="post"
                                  id="lock-${list[i].username}"></form>
                            <a href="javascript: $('#lock-${list[i].username}').submit();"
                               class="button is-size-7 is-rounded is-light">
                                        <span class="is-small">
                                            <i class="fa fa-lock has-text-danger-dark"></i>
                                        </span>
                            </a>
                        </td>
                        <td>
                            <form action="/admin/Account/delete/${list[i].username}" method="post"
                                  id="delete-${list[i].username}"></form>
                            <a href="javascript: $('#delete-${list[i].username}').submit();">
                                <button class="delete mt-1 ml-2"></button>
                            </a>
                        </td>
                    </tr>`;
                }

                // Appending the data below old data in <tbody> tag
                document.getElementById("data_bidder_account").innerHTML += html;
                offset_bidder = offset_bidder + 1;

            });
        }

    </script>
{{/section}}

{{#section 'js'}}
    <script>
        $.getJSON(`/account/hasAccountLock`, function (data) {
            if (data === false) {
                if (!$('#accountLock').hasClass("is-hidden")) {
                    $('#accountLock').toggleClass("is-hidden");
                }
            } else {
                if ($('#accountLock').hasClass("is-hidden")) {
                    $('#accountLock').removeClass("is-hidden");
                }
            }
        });
    </script>
    <script>
        function modal_announce() {
            $('.modal_announce').toggleClass("is-active")
        };

        function close_modal() {
            $('.modal_announce').removeClass("is-active")
        };
    </script>
{{/section}}
<div class="columns is-multiline is-mobile p-2">
    <div class="modal modal_announce">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Xác nhận</p>
                <button class="delete close_modal" aria-label="close" onclick="close_modal();"></button>
            </header>
            <section class="modal-card-body">
                <p>Bạn có muốn đặt lại toàn bộ mật khẩu của các tài khoản trong hệ thống?
                </p>
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success"
                   href="javascript: $('#frmReset').submit();">Đồng ý</a>
                <a class="button" onclick="close_modal();">Hủy</a>
            </footer>
        </div>
    </div>
    <div class="column is-12">
        <div class="card-header-title is-size-4-tablet is-size-5-mobile is-size-2-desktop has-text-danger-dark">
            Danh sách tài khoản trong hệ thống
        </div>
        <hr class="has-background-grey"/>
    </div>

    <div class="column is-12">
        <form action="/admin/Account/resetPassword" method="post" id="frmReset"></form>
        <a onclick="modal_announce();" class="button">
            <i class="fa fa-refresh mr-2"></i>
            Đặt lại mật khẩu
        </a>
    </div>

    <div class="is-12 column mt-0">
        <div class="table-wrapper" style="overflow-x: auto">
            <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                <div class="card-header-title is-size-3 has-text-success">
                    Tài khoản SELLER
                </div>
                <thead>
                <tr class="has-text-centered">
                    <th><abbr title="">Tài khoản</abbr></th>
                    <th><abbr title="">Họ tên</abbr></th>
                    <th><abbr title="">Địa chỉ</abbr></th>
                    <th><abbr title="">Email</abbr></th>
                    <th><abbr title="">Số điểm</abbr></th>
                    <th><abbr title="">Hạ cấp/Khóa</abbr></th>
                    <th><abbr title="">Xóa</abbr></th>
                </tr>
                </thead>

                <tbody id="data_seller_account">
                    {{#each this.listSeller}}
                        <tr class="has-text-centered">
                            <th>
                                <p>
                                    <strong><a>#{{username}}</a></strong>
                                </p>
                            </th>
                            <td>{{name}}</td>
                            <td>{{address}}</td>
                            <td>{{email}}</td>
                            <td>
                                <i class="is-small tag has-text-info">{{point_percent}}%</i>
                            </td>
                            <td>
                                <form action="/admin/Account/degrade/{{username}}" method="post"
                                      id="degrade-{{username}}"></form>
                                <form action="/admin/Account/lock/{{username}}" method="post"
                                      id="lock-{{username}}"></form>
                                <span>
                                        <a href="javascript: $('#degrade-{{username}}').submit();"
                                           class="button is-size-7 is-rounded is-light">
                                            <span class="is-small">
                                                <i class="fa fa-angle-double-down has-text-success"></i>
                                            </span>
                                        </a>

                                        <a href="javascript: $('#lock-{{username}}').submit();"
                                           class="button is-size-7 is-rounded is-light">
                                            <span class="is-small">
                                                <i class="fa fa-lock has-text-danger-dark"></i>
                                            </span>
                                        </a>
                                    </span>
                            </td>
                            <td>
                                <form action="/admin/Account/delete/{{username}}" method="post"
                                      id="delete-{{username}}"></form>
                                <a href="javascript: $('#delete-{{username}}').submit();">
                                    <button class="delete mt-1 ml-2"></button>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="has-text-centered loadmore_seller">
                <a class="button is-primary is-outlined" onclick="loadmore_seller();">Tải thêm...</a>
            </div>

        </div>
    </div>

    <div class="is-12 column mt-0">
        <div class="table-wrapper" style="overflow-x: auto">
            <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                <div class="card-header-title is-size-3 has-text-success">
                    Tài khoản BIDDER
                </div>
                <thead>
                <tr class="has-text-centered">
                    <th><abbr title="">Tài khoản</abbr></th>
                    <th><abbr title="">Họ tên</abbr></th>
                    <th><abbr title="">Địa chỉ</abbr></th>
                    <th><abbr title="">Email</abbr></th>
                    <th><abbr title="">Số điểm</abbr></th>
                    <th><abbr title="">Khóa</abbr></th>
                    <th><abbr title="">Xóa</abbr></th>
                </tr>
                </thead>

                <tbody id="data_bidder_account">
                {{#each this.listBidder}}
                    <tr class="has-text-centered">
                        <th>
                            <p>
                                <strong><a>#{{username}}</a></strong>
                            </p>
                        </th>
                        <td>{{name}}</td>
                        <td>{{address}}</td>
                        <td>{{email}}</td>
                        <td>
                            <i class="is-small tag has-text-info">{{point_percent}}%</i>
                        </td>
                        <td>
                            <form action="/admin/Account/lock/{{username}}" method="post"
                                  id="lock-{{username}}"></form>
                            <a href="javascript: $('#lock-{{username}}').submit();"
                               class="button is-size-7 is-rounded is-light">
                                        <span class="is-small">
                                            <i class="fa fa-lock has-text-danger-dark"></i>
                                        </span>
                            </a>
                        </td>
                        <td>
                            <form action="/admin/Account/delete/{{username}}" method="post"
                                  id="delete-{{username}}"></form>
                            <a href="javascript: $('#delete-{{username}}').submit();">
                                <button class="delete mt-1 ml-2"></button>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

            <div class="has-text-centered loadmore_bidder">
                <a class="button is-primary is-outlined" onclick="loadmore_bidder();">Tải thêm...</a>
            </div>
        </div>
    </div>

    <div class="is-12 column mt-0" id="accountLock">
        <div class="table-wrapper" style="overflow-x: auto">
            <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                <div class="card-header-title is-size-3 has-text-success">
                    Tài khoản đã bị khóa
                </div>
                <thead>
                <tr class="has-text-centered">
                    <th><abbr title="">Tài khoản</abbr></th>
                    <th><abbr title="">Họ tên</abbr></th>
                    <th><abbr title="">Địa chỉ</abbr></th>
                    <th><abbr title="">Email</abbr></th>
                    <th><abbr title="">Số điểm</abbr></th>
                    <th><abbr title="">Mở khóa</abbr></th>
                    <th><abbr title="">Xóa</abbr></th>
                </tr>
                </thead>

                <tbody>
                {{#each this.listLockAccount}}
                    <tr class="has-text-centered">
                        <th>
                            <p>
                                <strong><a>#{{username}}</a></strong>
                            </p>
                        </th>
                        <td>{{name}}</td>
                        <td>{{address}}</td>
                        <td>{{email}}</td>
                        <td>
                            <i class="is-small tag has-text-info">{{point_percent}}%</i>
                        </td>
                        <td>
                            <form action="/admin/Account/unlock/{{username}}" method="post"
                                  id="unlock-{{username}}"></form>
                            <span>
                                    <a href="javascript: $('#unlock-{{username}}').submit();"
                                       class="button is-size-7 is-rounded is-light">
                                        <span class="is-small">
                                            <i class="fa fa-unlock has-text-success-dark"></i>
                                        </span>
                                    </a>
                                </span>
                        </td>
                        <td>
                            <form action="/admin/Account/delete/{{username}}" method="post"
                                  id="delete-{{username}}"></form>
                            <a href="javascript: $('#delete-{{username}}').submit();">
                                <button class="delete mt-1 ml-2"></button>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>