<div class="column is-2-tablet is-hidden-touch">
    <aside class="menu is-size-6-tablet">
        <p class="menu-label is-size-6"><strong>Danh mục</strong></p>
        <ul class="menu-list">
            {{#each lcCategories}}
                <li>
                    <a class="manual category-{{CatID}} {{#if isActive}}is-active{{/if}}" onclick="categoryClick({{CatID}})">
                        <i class="fa fa-caret-down mr-3" aria-hidden="true"></i>
                        {{CatName}}
                    </a>
                    <ul class="manual-list list-{{CatID}} {{#unless isActive}}is-hidden{{/unless}}">
                        {{#each listsub}}
                            <li>
                                <a href="/product/byCat/{{CatIDNext}}" class="{{#if isActive}}is-active{{/if}}
                                is-size-6-desktop is-size-6-tablet">
                                    <i class="fa fa-caret-right mr-3" aria-hidden="true"></i>
                                    {{CatNextName}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>

        <!--        <p class="menu-label is-size-6 {{#unless auth}}is-hidden{{/unless}}">Thông tin</p>-->
        <!--        <ul class="menu-list {{#unless auth}}is-hidden{{/unless}}">-->
        <!--            <li><a href="/info/reviewHistory">Lịch sử đánh giá</a></li>-->
        <!--            <li><a href="/info/favouriteProduct" class="is-active">Sản phẩm yêu thích</a></li>-->
        <!--            <li><a href="/info/onlineAuction">Sản phẩm đang đấu giá</a></li>-->
        <!--            <li><a href="/info/wonProduct">Sản phẩm đã thắng</a></li>-->
        <!--        </ul>-->
        {{#if Seller}}
            <p class="menu-label is-size-6 "><strong>Bán</strong></p>
            <ul class="menu-list">
                <li>
                    <a href="/seller/liveProduct" class="{{#if this.isLive}}is-active{{/if}}">
                        <i class="fa fa-balance-scale-right mr-3" aria-hidden="true"></i>
                        Sản phẩm đang đăng
                    </a>
                </li>
                <li>
                    <a href="/seller/soldProduct" class="{{#if this.isSold}}is-active{{/if}}">
                        <i class="fa fa-money mr-3" aria-hidden="true"></i>
                        Sản phẩm đã bán
                    </a>
                </li>
            </ul>
        {{/if}}

        {{#if oldSeller}}
            <p class="menu-label is-size-6 "><strong>Bán</strong></p>
            <ul class="menu-list">
                <li>
                    <a href="/seller/liveProduct" class="{{#if this.isLive}}is-active{{/if}}">
                        <i class="fa fa-balance-scale-right mr-3" aria-hidden="true"></i>
                        Sản phẩm đang đăng
                    </a>
                </li>
                <li>
                    <a href="/seller/soldProduct" class="{{#if this.isSold}}is-active{{/if}}">
                        <i class="fa fa-money mr-3" aria-hidden="true"></i>
                        Sản phẩm đã bán
                    </a>
                </li>
            </ul>
        {{/if}}

        {{#if Admin}}
            <p class="menu-label is-size-6 "><strong>Bán</strong></p>
            <ul class="menu-list">
                <li>
                    <a href="/seller/liveProduct" class="{{#if this.isLive}}is-active{{/if}}">
                        <i class="fa fa-balance-scale-right mr-3" aria-hidden="true"></i>
                        Sản phẩm đang đăng
                    </a>
                </li>
                <li>
                    <a href="/seller/soldProduct" class="{{#if this.isSold}}is-active{{/if}}">
                        <i class="fa fa-money mr-3" aria-hidden="true"></i>
                        Sản phẩm đã bán
                    </a>
                </li>
            </ul>

            <p class="menu-label is-size-6 "><strong>Admin</strong></p>
            <ul class="menu-list ">
                <li>
                    <a href="/admin/updateCategory" class="{{#if this.isUpdateCategory}}is-active{{/if}}">
                        <i class="fa fa-list-alt mr-3" aria-hidden="true"></i>
                        Danh mục
                    </a>
                </li>
                <li>
                    <a href="/admin/Account" class="{{#if this.isAccount}}is-active{{/if}}">
                        <i class="fa fa-users mr-2" aria-hidden="true"></i>
                        Tài khoản
                    </a>
                </li>
                <li>
                    <a href="/admin/verifySeller" class="{{#if this.isVerifySeller}}is-active{{/if}}">
                        <i class="fa fa-angle-double-up ml-1 mr-3" aria-hidden="true"></i>
                        Nâng cấp
                    </a>
                </li>
            </ul>
        {{/if}}
    </aside>
</div>