{{#section 'js'}}
    <script>
        const listIDText = document.getElementById("listId").value;
        const listID = listIDText.split(' ');
        for (let i = 0; i < listID.length; i++) {
            const dateInput = document.getElementById("dateInput" + listID[i]).value;
            const date = dateInput.split(" ")[0];
            const time = dateInput.split(" ")[1];
            const day = date.split('/')[0];
            const month = date.split('/')[1];
            const year = date.split('/')[2];
            const h = time.split(':')[0];
            const m = time.split(':')[1];
            let countDownDate = new Date(+year, +month - 1, +day, +h, +m, 0, 0).getTime();
            let x = setInterval(function () {
                // Get today's date and time
                let now = new Date().getTime();
                // Find the distance between now and the count down date
                let distance = countDownDate - now;
                // Time calculations for days, hours, minutes and seconds
                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);
                // Display the result in the element with id="demo"
                let countdown = '';
                if (days != 0) {
                    countdown += days + " ngày "
                }
                if (hours != 0) {
                    countdown += hours + " giờ "
                }
                if (minutes != 0) {
                    countdown += minutes + " phút "
                }
                countdown += seconds + " giây";
                document.getElementById("dateEnd" + listID[i]).innerHTML = countdown;

                // document.getElementById("dateEnd"+listID[i]).innerHTML = days + " ngày " + hours + " giờ "
                //         + minutes + " phút " + seconds + " giây";
                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("dateEnd" + listID[i]).innerHTML = "Hết hạn"
                }
            }, 1000);
        }
    </script>
    <script>
        function modal_announce(proID) {
            $('.modal_announce-' + proID).toggleClass("is-active")
        };

        function close_modal(proID) {
            $('.modal_announce-' + proID).removeClass("is-active")
            $('.modal_isActive').removeClass("is-active")
            $('.modal_lowpoint').removeClass("is-active")
            $('.modal_outdate').removeClass("is-active")
        };
    </script>

    <script>
        const listIdText = $('#listId').val();
        const listId = listIdText.split(' ');
        for (let i = 0; i < listId.length; i++) {
            $('#frmBuynow-' + listId[i]).on('submit', function (e) {
                e.preventDefault();
                $.getJSON(`/product/infoProduct/${listId[i]}`, function (data) {
                    $('.modal_announce-' + listId[i]).removeClass("is-active");
                    if (data === false) {
                        $('.modal_isActive').toggleClass("is-active");
                        return;
                    } else if (data === "lowPoint") {
                        $('.modal_lowpoint').toggleClass("is-active");
                        return;
                    } else {
                        const infoProduct = JSON.parse(JSON.stringify(data))
                        if (!infoProduct.isExpired) {
                            $('#frmBuynow-' + listId[i]).off('submit').submit();
                        } else {
                            $('.modal_outdate').toggleClass("is-active");
                            return;
                        }
                    }

                });
            });
        }
    </script>
{{/section}}
<div class="columns is-multiline is-mobile p-2">
    <input type="text" value="{{this.listID}}" id="listId" class="is-hidden">
    <div class="modal modal_isActive">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Xác thực tài khoản</p>
                <button class="delete close_modal" aria-label="close" onclick="close_modal();"></button>
            </header>
            <section class="modal-card-body">
                <p>Vui lòng <strong>xác thực tài khoản trước khi mua</strong>
                </p>
            </section>
        </div>
    </div>

    <div class="modal modal_lowpoint">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Rất tiếc</p>
                <button class="delete close_modal" aria-label="close" onclick="close_modal();"></button>
            </header>
            <section class="modal-card-body">
                <p><strong>Số điểm của bạn quá thấp (< 80%). Không thể mua sản phẩm này!</strong>
                </p>
            </section>
        </div>
    </div>

    <div class="modal modal_outdate">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Sản phẩm không khả dụng</p>
                <button class="delete close_modal" aria-label="close" onclick="close_modal();"></button>
            </header>
            <section class="modal-card-body">
                <p>Không thể mua sản phẩm này do đã hết thời hạn đăng hoặc đã được bán cho người khác.</strong>
                </p>
            </section>
        </div>
    </div>
    {{#if this.isEmpty}}
        <div class="card-header-title is-size-3">Không có dữ liệu</div>
    {{else}}
        {{#each this.list}}
            <div class="column is-4-desktop is-6-tablet is-12-mobile card-hover">
                <div class="card p-5 m-4">
                    <header class="card-header" style="height: 60px">
                        <p class="card-header-title is-size-5-desktop is-size-5-tablet is-size-7-mobile">
                            {{ProName}}
                        </p>
                        {{#if isSold}}
                            <span class="tag is-danger is-medium">sold</span>
                        {{else}}
                            {{#if isNew}}
                                <span class="tag is-success is-medium">new</span>
                            {{/if}}
                        {{/if}}
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/product/detail/{{ProID}}">
                                <img src="/img/product/{{ProID}}/1.png" alt="Placeholder image">
                            </a>

                        </figure>
                    </div>
                    <div class="card-content py-2 px-0 is-size-6-desktop is-size-6-tablet is-size-7-mobile">
                        <strong class="is-block has-text-info-dark"> Giá hiện tại: <span
                                class="has-text-danger-dark">{{format_number PriceCurrent}}</span></strong>
                        <strong class="is-block has-text-info-dark"> Giá mua ngay: <span
                                class="has-text-danger-dark">{{format_number PriceWin}}</span></strong>
                        <hr class="navbar-divider has-background-grey-dark"/>
                        <div class="content">
                            <strong class="is-block"> Bidder: <a>@{{Bidder}}</a></strong>
                            <strong class="is-block"> Số lượt ra giá: <a href="#">#{{BidderCount}}</a></strong>
                            <hr class="navbar-divider has-background-grey-dark"/>
                            <time datetime="2016-1-1" class="is-block "><strong class="has-text-primary-dark">Ngày
                                đăng:</strong>
                                {{DateStart}}
                            </time>

                            <input class="is-block is-hidden" id="dateInput{{ProID}}" value="{{DateEnd}}">
                            <time datetime="2016-1-1" class="is-block has-text-danger"><strong
                                    class="has-text-primary-dark">Kết thúc:</strong>
                                <span class="is-danger" id="dateEnd{{ProID}}"></span>
                            </time>
                        </div>
                    </div>

                    {{#if auth}}
                        <footer class="card-footer is-size-7-mobile">
                            <form action="/product/buynow/{{ProID}}" method="post" id="frmBuynow-{{ProID}}"></form>
                            <a onclick="modal_announce({{ProID}});" class="card-footer-item">
                                <span class="is-small mr-1"><i class="fa fa-shopping-cart"></i></span>
                                MUA NGAY</a>
                            {{#if isLiked}}
                                <form action="/info/cancelFavorite/{{ProID}}" method="post"
                                      id="frmCancelFavorite-{{ProID}}"></form>
                                <a href="javascript: $('#frmCancelFavorite-{{ProID}}').submit();" class="card-footer-item">
                                    <span class="is-small mr-1 has-text-danger"><i class="fa fa-heart"></i></span>
                                    ĐÃ THÍCH
                                </a>
                            {{else}}
                                <form action="/info/addFavorite/{{ProID}}" method="post"
                                      id="frmAddFavorite-{{ProID}}"></form>
                                <a href="javascript: $('#frmAddFavorite-{{ProID}}').submit();" class="card-footer-item has-text-danger">
                                    <span class="is-small mr-1 has-text-danger-light"><i class="fa fa-heart"></i></span>
                                    YÊU THÍCH
                                </a>
                            {{/if}}

                        </footer>
                    {{/if}}
                </div>
            </div>
            <div class="modal modal_announce-{{ProID}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Xác nhận</p>
                        <button class="delete close_modal" aria-label="close" onclick="close_modal({{ProID}});"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>Bạn có muốn mua ngay: <strong>{{ProName}}</strong> ?
                        </p>
                    </section>
                    <footer class="modal-card-foot">
                        <a class="button is-success"
                           href="javascript: $('#frmBuynow-{{ProID}}').submit();">Đồng ý</a>
                        <a class="button" onclick="close_modal({{ProID}});">Hủy</a>
                    </footer>
                </div>
            </div>
        {{/each}}

        <div class="column is-12">
            <nav
                    class="pagination is-centered"
                    role="navigation"
                    aria-label="pagination"
            >
                {{#if this.pagePrev.isVisible}}
                    <a class="pagination-previous " href="?page={{this.pagePrev.page}}">Trang trước</a>
                {{/if}}
                {{#if this.pageNext.isVisible}}
                    <a class="pagination-next" href="?page={{this.pageNext.page}}">Trang sau</a>
                {{/if}}

                <ul class="pagination-list">
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li><a class="pagination-link is-current" href="javascript:;">{{value}}</a></li>
                        {{else}}
                            <li><a class="pagination-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </nav>
        </div>

    {{/if}}
</div>