{{#section 'js_showMessage'}}
    <script>
        function modal_verify(){
           if($('.modal_verify').hasClass("is-active")){
               $('.modal_verify').removeClass("is-active")
           } else{
               $('.modal_verify').toggleClass("is-active")
           }
        };

        function modal_priceInvalid(){
            if($('.modal_priceInvalid').hasClass("is-active")){
                $('.modal_priceInvalid').removeClass("is-active")
            } else{
                $('.modal_priceInvalid').toggleClass("is-active")
            }
        };
        function modal_isActive(){
            if($('.modal_isActive').hasClass("is-active")){
                $('.modal_isActive').removeClass("is-active")
            } else{
                $('.modal_isActive').toggleClass("is-active")
            }
        };
        function modal_expired(){
            if($('.modal_expired').hasClass("is-active")){
                $('.modal_expired').removeClass("is-active")
            } else{
                $('.modal_expired').toggleClass("is-active")
            }
        };
        function modal_lowpoint(){
            if($('.modal_lowpoint').hasClass("is-active")){
                $('.modal_lowpoint').removeClass("is-active")
            } else{
                $('.modal_lowpoint').toggleClass("is-active")
            }
        };

        $('#frmAuction').on('submit', function (e) {
            e.preventDefault();
            $('.modal_verify').toggleClass("is-active")

            const priceBid = $('#number_auction').val();
            const ProID = $('#ProID').val();

            $.getJSON(`/product/infoProduct/${ProID}`, function (data) {
                if(data === false){
                    $('.modal_isActive').toggleClass("is-active")
                }else if(data === "lowPoint"){
                    $('.modal_lowpoint').toggleClass("is-active")
                } else{
                    const infoProduct = JSON.parse(JSON.stringify(data))
                    let error = false;

                    if(infoProduct.isExpired){
                        $('.modal_expired').toggleClass("is-active")
                        $('#frmAuction').off('submit').submit();
                        return
                    }

                    if(+priceBid <=  +infoProduct.PriceCurrent){
                        $('.modal_priceInvalid').toggleClass("is-active")
                        error = true;
                        return
                    }

                    if(!error)
                        $('#frmAuction').off('submit').submit();

                }

            });


        });
    </script>
{{/section}}
{{#section 'js'}}
    <script>
        function categoryClick(CatID) {
            if ($(".category-" + CatID).hasClass("is-active")) {
                $(".category-" + CatID).removeClass("is-active");
                $(".list-" + CatID).toggleClass("is-hidden");
            } else {
                $(".manual").removeClass("is-active");
                $(".manual-list").removeClass("is-hidden").toggleClass("is-hidden");

                $(".category-" + CatID).toggleClass("is-active");
                $(".list-" + CatID).removeClass("is-hidden");
            }
        }

        $('#text').keypress(function(event){
            const keycode = (event.keyCode ? event.keyCode : event.which);

            if (keycode == '13') {
                const action = $('#text').val();
                const url = "/search/" + action;
                $('#frmSearch').attr('action', url);
                $('#frmSearch').submit();
            }
        });
        $('#btnSearch').click(function(event){
            const action = $('#text').val();
            if (action !== '') {
                const url = "/search/" + action;
                $('#frmSearch').attr('action', url);
                $('#frmSearch').submit();
            }
        });

    </script>
{{/section}}

<div class="columns is-multiline is-mobile p-2">
    <div class="column is-6-tablet is-12-mobile mr-5">

        <div class="modal modal_verify">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Xác nhận</p>
                    <button class="delete close_modal" aria-label="close" onclick="modal_verify();"></button>
                </header>
                <section class="modal-card-body">
                    <p>Bạn có đồng ý đấu giá món hàng: <strong>{{this.product.ProName}}</strong>
                    </p>
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success"
                       href="javascript: $('#frmAuction').submit();">Đồng ý</a>
                    <a class="button" onclick="modal_verify();">Hủy</a>
                </footer>
            </div>
        </div>
        <div class="modal modal_priceInvalid">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Số tiền đấu giá chưa đủ</p>
                    <button class="delete close_modal" aria-label="close" onclick="modal_priceInvalid();"></button>
                </header>
                <section class="modal-card-body">
                    <p>Vui lòng nhập số tiền đấu giá lớn hơn giá hiện tại là:
                        <strong>{{format_number this.product.PriceCurrent}}</strong>
                    </p>
                </section>
            </div>
        </div>
        <div class="modal modal_isActive">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Xác thực tài khoản</p>
                    <button class="delete close_modal" aria-label="close" onclick="modal_isActive();"></button>
                </header>
                <section class="modal-card-body">
                    <p>Vui lòng <strong>xác thực tài khoản trước khi tham gia đấu giá</strong>
                    </p>
                </section>
            </div>
        </div>
        <div class="modal modal_expired">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Rất tiếc</p>
                    <button class="delete close_modal" aria-label="close" onclick="modal_expired();"></button>
                </header>
                <section class="modal-card-body">
                    <p><strong>Thời gian đặt lệnh của bạn quá trễ!</strong>
                    </p>
                </section>
            </div>
        </div>
        <div class="modal modal_lowpoint">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Rất tiếc</p>
                    <button class="delete close_modal" aria-label="close" onclick="modal_lowpoint();"></button>
                </header>
                <section class="modal-card-body">
                    <p><strong>Số điểm của bạn quá thấp (< 80%) để có thể đặt món hàng này!</strong>
                    </p>
                </section>
            </div>
        </div>

        <div class="box">
            <figure class="image is-4by3">
                <img src="/img/product/{{this.product.ProID}}/1.png">
            </figure>
        </div>
        <div class="columns is-multiline">
            <div class="column is-12 p-2">
                <section class="section">
                    <div id="slider" style="overflow: hidden">
                        <!-- Start Carousel -->
                        <div class="carousel">
                            <div class="item-1 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a href="">
                                                <img
                                                        src="/img/product/{{this.product.ProID}}/2.png"
                                                        alt=""
                                                />
                                            </a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                            <div class="item-2 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="/img/product/{{this.product.ProID}}/3.png"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>
                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="/img/product/{{this.product.ProID}}/4.png"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="/img/product/{{this.product.ProID}}/5.png"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="/img/product/{{this.product.ProID}}/6.png"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="/img/product/{{this.product.ProID}}/7.png"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Carousel -->
                    </div>
                </section>
            </div>

            {{#if auth}}
                {{#if Bidder}}
                    <div class="column is-12 p-5">
                        <div class="table-wrapper" style="overflow-x: auto">
                            <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                                <hr class="has-background-grey"/>
                                <div class="card-header-title is-size-4">
                                    Lịch sử đấu giá
                                </div>
                                <thead>
                                <tr class="has-text-centered">
                                    <th><abbr title="time">Thời điểm</abbr></th>
                                    <th><abbr title="bidder">Người mua</abbr></th>
                                    <th><abbr title="price">Giá</abbr></th>
                                </tr>
                                </thead>

                                <tbody>
                                {{#each this.listBid}}
                                    <tr class="has-text-centered">
                                        <th>{{time}}</th>
                                        <td>{{mask_name name}}</td>
                                        <td>{{format_number PriceWinAll}}</td>
                                    </tr>
                                {{/each}}


                                </tbody>
                            </table>
                        </div>
                    </div>
                {{/if}}

                {{#if Seller}}
                    <div class="column is-12 p-5">
                        <div class="table-wrapper" style="overflow-x: auto">
                            <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                                <hr class="has-background-grey"/>
                                <div class="card-header-title is-size-4">
                                    Lịch sử đấu giá
                                </div>
                                <thead>
                                <tr class="has-text-centered">
                                    <th><abbr title="time">Thời điểm</abbr></th>
                                    <th><abbr title="bidder">Người mua</abbr></th>
                                    <th><abbr title="price">Giá</abbr></th>
                                    <th><abbr title="delete">Xóa</abbr></th>
                                </tr>
                                </thead>

                                <tbody>
                                {{#each this.listBid}}
                                    <tr class="has-text-centered">
                                        <th>{{time}}</th>
                                        <td>{{mask_name name}}</td>
                                        <td>{{format_number PriceWinAll}}</td>
                                        <form action="/product/del/{{BidderHistory}}" method="post" id="frmDelAuction-{{BidderHistory}}">
                                            <input type="text" value="{{ProID}}" name="id" class="is-hidden">
                                        </form>
                                        <td>
                                            <a href="javascript: $('#frmDelAuction-{{BidderHistory}}').submit();">
                                                <button class="delete"></button>
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}}


                                </tbody>
                            </table>
                        </div>
                    </div>
                {{/if}}
            {{/if}}


        </div>
    </div>
    <div class="column is-5-tablet is-12-mobile ">
        <div class="columns is-multiline">
            <div class="column is-12 card-header-title is-size-4-tablet is-size-5-mobile ">
                {{this.product.ProName}}
            </div>
            <span class="column is-12 ">Mã sản phẩm: <strong>{{this.product.ProID}}</strong></span>
            <span class="column is-12 ">Giá hiện tại: <strong>{{format_number this.product.PriceCurrent}}</strong></span>
            <span class="column is-12  pb-0">Giá mua ngay: <strong>{{format_number this.product.PriceWin}}</strong>
            <hr class="has-background-grey"/></span>
            <span class="column is-12  pt-0">Thời điểm đăng: <strong>{{this.product.DateStart}}</strong></span>
            <span class="column is-12  pb-0">Thời điểm kết thúc: <strong>{{this.product.DateEnd}}</strong>
            <hr class="has-background-grey"/></span>
            <div class="column is-12 card-content box m-0">
                <div class="card-header-title">
                    Thông tin sản phẩm
                </div>
                {{{this.product.Description}}}
            </div>

            {{#if auth}}
                {{#if this.isExpired}}
                    <div class="column is-12 ">
                        <hr class="has-background-grey"/>

                    </div>
                    <div class="column is-12 level">
                        <div class="level-item has-text-centered">
                            <div class="tag is-danger is-light is-large ">Hết phiên đấu giá</div>
                        </div>
                    </div>

                {{else}}
                    <div class="column is-12 ">
                        <hr class="has-background-grey"/>
                    </div>

                    <div class="column is-12">
                        <div class="is-inline-block">
                    <span>Người bán:
                        <strong><a href="#">#{{this.product.Seller}}</a></strong>
                        <div class="box has-text-centered has-background-primary">+5</div>
                    </span>
                        </div>

                        <div class="is-inline-block ml-5">
                    <span>Người đấu giá cao nhất:
                        <strong><a href="#">#{{this.product.Bidder}}</a></strong>
                        <div class="box has-text-centered has-background-danger">+5</div>
                    </span>
                        </div>

                    </div>


                    {{#if this.product.isAuction}}
                        <div class="column is-8 ">
                            <form action="/product/buynow" method="post" id="frmAuction">
                                <input class="input is-large" type="number" placeholder="Đấu giá" id="number_auction"
                                       name="number">
                                <input type="number" value="{{this.product.ProID}}" class="is-hidden" name="id"
                                       id="ProID">
                            </form>
                        </div>
                    {{/if}}



                    <form action="/info/addFavorite/{{this.product.ProID}}" method="post" id="frmFavorite"></form>
                    <div class="column is-4 has-text-centered">
                        <div class="box"><a href="javascript: $('#frmFavorite').submit();">Yêu thích</a></div>
                    </div>

                    {{#if this.product.isAuction}}
                        <div class="column is-12 has-text-centered ">
                            <a class="box has-background-primary"
                               onclick="modal_verify();">Đấu giá</a>
                        </div>
                    {{/if}}
                {{/if}}

            {{/if}}

        </div>
    </div>

    <div class="column is-12 p-2">
        <hr class="has-background-grey"/>
        <section class="section">
            <div class="is-size-4-tablet is-size-5-mobile m-3 has-text-centered">
                Sản phẩm liên quan
            </div>
            <div id="slider" style="overflow: hidden">
                <!-- Start Carousel -->
                <div class="carousel">
                    <div class="item-1 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <a href="">
                                        <img
                                                src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                alt=""
                                        />
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-2 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Carousel -->
            </div>
        </section>
    </div>
</div>