<div class="columns is-multiline is-mobile p-2">
    <div class="column is-6-tablet is-12-mobile mr-5">
        <div class="box">
            <figure class="image is-4by3">
                <img src="/img/product/{{this.product.ProID}}/1.png">
            </figure>
        </div>

        <div class="columns is-multiline">
            <div class="column is-12 p-2">
                <section class="section">
                    <div id="slider" style="overflow: hidden">
                        <!-- Start Carousel -->
                        <div class="carousel">
                            <div class="item-1 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a href="">
                                                <img
                                                        src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                        alt=""
                                                />
                                            </a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                            <div class="item-2 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>
                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <img
                                                    src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                    alt=""
                                            />
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Carousel -->
                    </div>
                </section>
            </div>

            {{#if auth}}
                <div class="column is-12 p-5">
                    <div class="table-wrapper" style="overflow-x: auto">
                        <table class="table is-hoverable is-striped is-fullwidth">
                            <hr class="has-background-grey"/>
                            <div class="card-header-title is-size-4">
                                Lịch sử đấu giá
                            </div>
                            <thead>
                            <tr>
                                <th><abbr title="time">Thời điểm</abbr></th>
                                <th><abbr title="bidder">Người mua</abbr></th>
                                <th><abbr title="price">Giá</abbr></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="is-selected">
                                <th>1/11/2019 10:43</th>
                                <td>****Khoa</td>
                                <td>6,000,000</td>
                            </tr>

                            <tr>
                                <th>1/11/2019 9:43</th>
                                <td>****Quang</td>
                                <td>5,900,000</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="column is-5-tablet is-12-mobile ">
        <div class="columns is-multiline">
            <div class="column is-12 card-header-title is-size-4-tablet is-size-5-mobile ">
                {{this.product.ProName}}
            </div>
            <span class="column is-12 ">Mã sản phẩm: <strong>{{this.product.ProID}}</strong></span>
            <span class="column is-12 ">Giá hiện tại: <strong>{{format_number this.product.PriceCurrent}}</strong></span>
            <span class="column is-12  pb-0">Giá mua ngay: <strong>{{format_number this.product.PriceWin}}</strong>
            <hr class="has-background-grey"/></span>
            <span class="column is-12  pt-0">Thời điểm đăng: <strong>{{this.product.DateStart}}</strong></span>
            <span class="column is-12  pb-0">Thời điểm kết thúc: <strong>{{this.product.DateEnd}}</strong>
            <hr class="has-background-grey"/></span>
            <div class="column is-12 card-content box m-0">
                <div class="card-header-title">
                    Thông tin sản phẩm
                </div>
                {{this.product.Description}}
            </div>

            {{#if auth}}
                <div class="column is-12 ">
                    <hr class="has-background-grey"/>
                </div>

                <div class="column is-12">
                    <div class="is-inline-block">
                    <span>Người bán:
                        <strong><a href="#">#{{this.product.Seller}}</a></strong>
                        <div class="box has-text-centered has-background-primary">+5</div>
                    </span>
                    </div>

                    <div class="is-inline-block ml-5">
                    <span>Người đấu giá cao nhất:
                        <strong><a href="#">#{{this.product.Bidder}}</a></strong>
                        <div class="box has-text-centered has-background-danger">+5</div>
                    </span>
                    </div>

                </div>



                <div class="column is-8 ">
                    <input class="input is-large " type="number" placeholder="Đấu giá">
                </div>

                <form action="/info/addFavorite/{{this.product.ProID}}" method="post" id="frmFavorite"></form>
                <div class="column is-4 has-text-centered">
                    <div class="box"><a href="javascript: $('#frmFavorite').submit();">Yêu thích</a></div>
                </div>

                <div class="column is-12 has-text-centered ">
                    <a class="box has-background-primary">Mua ngay</a>
                </div>
            {{/if}}

        </div>
    </div>

    <div class="column is-12 p-2">
        <hr class="has-background-grey"/>
        <section class="section">
            <div class="is-size-4-tablet is-size-5-mobile m-3 has-text-centered">
                Sản phẩm liên quan
            </div>
            <div id="slider" style="overflow: hidden">
                <!-- Start Carousel -->
                <div class="carousel">
                    <div class="item-1 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <a href="">
                                        <img
                                                src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                                alt=""
                                        />
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-2 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-3 mx-2">
                        <!-- Slide Content -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-16by9 is-covered">
                                    <img
                                            src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                                            alt=""
                                    />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">Mon titre 1</div>
                                <div class="item__description">
                                    Ici une petite description pour tester le slider
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Carousel -->
            </div>
        </section>
    </div>
</div>