{{#section 'js_showMessage'}}
    <script>

        function close_img_modal() {
            $('.modal_image').removeClass("is-active");
        }

        function modal_img(ProID, img) {

            const src = "/img/product/" + ProID + "/" + img + ".png";
            $(".img_src").attr("src", src);
            $('.modal_image').toggleClass("is-active");
        }

        function modifyDesc() {
            if ($('.modifyDescription').hasClass("is-hidden")) {
                $('.modifyDescription').removeClass("is-hidden")
            } else {
                $('.modifyDescription').toggleClass("is-hidden")
            }
        }

        function modal_announce() {
            $('.modal_announce').toggleClass("is-active")
        }

        function close_modal() {
            $('.modal_announce').removeClass("is-active")
        }

        function modal_verify() {
            if ($('.modal_verify').hasClass("is-active")) {
                $('.modal_verify').removeClass("is-active")
            } else {
                $('.modal_verify').toggleClass("is-active")
            }
        }

        function modal_priceInvalid() {
            if ($('.modal_priceInvalid').hasClass("is-active")) {
                $('.modal_priceInvalid').removeClass("is-active")
            } else {
                $('.modal_priceInvalid').toggleClass("is-active")
            }
        }

        function modal_isActive() {
            if ($('.modal_isActive').hasClass("is-active")) {
                $('.modal_isActive').removeClass("is-active")
            } else {
                $('.modal_isActive').toggleClass("is-active")
            }
        }

        function modal_expired() {
            if ($('.modal_expired').hasClass("is-active")) {
                $('.modal_expired').removeClass("is-active")
            } else {
                $('.modal_expired').toggleClass("is-active")
            }
        }

        function modal_lowpoint() {
            if ($('.modal_lowpoint').hasClass("is-active")) {
                $('.modal_lowpoint').removeClass("is-active")
            } else {
                $('.modal_lowpoint').toggleClass("is-active")
            }
        }

        function modal_price_valid() {
            if ($('.modal_price_valid').hasClass("is-active")) {
                $('.modal_price_valid').removeClass("is-active")
            } else {
                $('.modal_price_valid').toggleClass("is-active")
            }
        }

        $('#frmAuction').on('submit', function (e) {
            e.preventDefault();
            $('.modal_verify').toggleClass("is-active")

            const priceBid = $('#number_auction').val();
            const ProID = $('#ProID').val();

            $.getJSON(`/product/infoProduct/${ProID}`, function (data) {
                if (data === false) {
                    $('.modal_isActive').toggleClass("is-active");
                    return;
                } else if (data === "lowPoint") {
                    $('.modal_lowpoint').toggleClass("is-active");
                    return;
                } else {
                    const infoProduct = JSON.parse(JSON.stringify(data))
                    let error = false;

                    if (infoProduct.isExpired) {
                        $('.modal_expired').toggleClass("is-active")
                        $('#frmAuction').off('submit').submit();
                        return
                    }

                    if (+priceBid <= +infoProduct.PriceCurrent) {
                        $('.modal_priceInvalid').toggleClass("is-active")
                        error = true;
                        return
                    } else if (+priceBid <= +infoProduct.PriceCurrent || (+priceBid - +infoProduct.firstPrice) % +infoProduct.stepPrice !== 0) {
                        alert( (+infoProduct.firstPrice))
                        $('.modal_price_valid').toggleClass("is-active")
                        error = true;
                        return
                    }

                    if (!error)
                        $('#frmAuction').off('submit').submit();

                }

            });


        });

        $('#frmBuynow').on('submit', function (e) {
            e.preventDefault();

            const ProID = $('#ProductID').val();
            $.getJSON(`/product/infoProduct/${ProID}`, function (data) {

                $('.modal_announce').removeClass("is-active");
                if (data === false) {
                    $('.modal_isActive').toggleClass("is-active");

                } else if (data === "lowPoint") {
                    $('.modal_lowpoint').toggleClass("is-active");

                } else {
                    const infoProduct = JSON.parse(JSON.stringify(data))
                    if (!infoProduct.isExpired) {
                        $('#frmBuynow').off('submit').submit();
                    } else {
                        $('.modal_announce').removeClass("is-active");

                    }
                }

            });
        });
    </script>
{{/section}}
{{#section 'js_updateInfo'}}
    <script>
        $('#frmUpdate').on('submit', function (e) {
            e.preventDefault();

            const FullDesc = $('#txtFullDesc').val();
            if (FullDesc)
                $('#frmUpdate').off('submit').submit();
            else {
                if ($('#check-info').hasClass("is-hidden")) {
                    $('#check-info').removeClass("is-hidden");
                } else {
                    $('.check-info').toggleClass('is-hidden');
                }
            }
        });
    </script>
{{/section}}
{{#section 'js'}}

    <script src="https://cdn.tiny.cloud/1/k24nz30cf3gjs50204ex4s6pi5wyll3m2qyffv64zathzntm/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#txtFullDesc',
            plugins: 'paste image link autolink lists table media',
            menubar: false,
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | ' +
                'forecolor backcolor | table link image media',
            ]
        });
    </script>

    <script>
        function categoryClick(CatID) {
            if ($(".category-" + CatID).hasClass("is-active")) {
                $(".category-" + CatID).removeClass("is-active");
                $(".list-" + CatID).toggleClass("is-hidden");
            } else {
                $(".manual").removeClass("is-active");
                $(".manual-list").removeClass("is-hidden").toggleClass("is-hidden");

                $(".category-" + CatID).toggleClass("is-active");
                $(".list-" + CatID).removeClass("is-hidden");
            }
        }

        $('#text').keypress(function (event) {
            const keycode = (event.keyCode ? event.keyCode : event.which);

            if (keycode == '13') {
                const action = $('#text').val();
                const url = "/search/" + action;
                $('#frmSearch').attr('action', url);
                $('#frmSearch').submit();
            }
        });
        $('#btnSearch').click(function (event) {
            const action = $('#text').val();
            if (action !== '') {
                const url = "/search/" + action;
                $('#frmSearch').attr('action', url);
                $('#frmSearch').submit();
            }
        });

    </script>

    <script>
        const dateInput = document.getElementById("dateInput").value;
        const date = dateInput.split(" ")[0];
        const time = dateInput.split(" ")[1];

        const day = date.split('/')[0];
        const month = date.split('/')[1];
        const year = date.split('/')[2];

        const h = time.split(':')[0];
        const m = time.split(':')[1];

        let countDownDate = new Date(+year, +month - 1, +day, +h, +m, 0, 0).getTime();
        let x = setInterval(function () {
            // Get today's date and time
            let now = new Date().getTime();
            // Find the distance between now and the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            let countdown = '';
            if (days != 0) {
                countdown += days + " ngày "
            }
            if (hours != 0) {
                countdown += hours + " giờ "
            }
            if (minutes != 0) {
                countdown += minutes + " phút "
            }
            countdown += seconds + " giây";
            document.getElementById("dateEnd").innerHTML = countdown;

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("dateEnd").innerHTML = "Hết hạn"

            }
        }, 10);
    </script>

{{/section}}


<div class="modal modal_announce">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Xác nhận</p>
            <button class="delete close_modal" aria-label="close" onclick="close_modal();"></button>
        </header>
        <section class="modal-card-body">
            <p>Bạn có muốn mua ngay: <strong>{{this.product.ProName}}</strong> ?
            </p>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success"
               href="javascript: $('#frmBuynow').submit();">Đồng ý</a>
            <a class="button" onclick="close_modal();">Hủy</a>
        </footer>
    </div>
</div>

<div class="modal modal_verify">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Xác nhận</p>
            <button class="delete close_modal" aria-label="close" onclick="modal_verify();"></button>
        </header>
        <section class="modal-card-body">
            <p>Bạn có đồng ý đấu giá món hàng: <strong>{{this.product.ProName}}</strong>
            </p>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success"
               href="javascript: $('#frmAuction').submit();" >Đồng ý</a>
            <a class="button" onclick="modal_verify();">Hủy</a>
        </footer>
    </div>
</div>

<div class="modal modal_price_valid">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Xác nhận</p>
            <button class="delete close_modal" aria-label="close" onclick="modal_price_valid();"></button>
        </header>
        <section class="modal-card-body">
            <p><strong>Bạn nên đấu giá theo bội số của bước giá</strong>
            </p>
        </section>
    </div>
</div>
<div class="modal modal_priceInvalid">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Số tiền đấu giá chưa đủ</p>
            <button class="delete close_modal" aria-label="close" onclick="modal_priceInvalid();"></button>
        </header>
        <section class="modal-card-body">
            <p>Vui lòng nhập số tiền đấu giá lớn hơn giá hiện tại là:
                <strong>{{format_number this.product.PriceCurrent}}</strong>
            </p>
        </section>
    </div>
</div>
<div class="modal modal_isActive">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Xác thực tài khoản</p>
            <button class="delete close_modal" aria-label="close" onclick="modal_isActive();"></button>
        </header>
        <section class="modal-card-body">
            <p>Vui lòng <strong>xác thực tài khoản trước khi tham gia đấu giá</strong>
            </p>
        </section>
    </div>
</div>
<div class="modal modal_expired">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Rất tiếc</p>
            <button class="delete close_modal" aria-label="close" onclick="modal_expired();"></button>
        </header>
        <section class="modal-card-body">
            <p><strong>Thời gian đặt lệnh của bạn quá trễ!</strong>
            </p>
        </section>
    </div>
</div>
<div class="modal modal_lowpoint">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Rất tiếc</p>
            <button class="delete close_modal" aria-label="close" onclick="modal_lowpoint();"></button>
        </header>
        <section class="modal-card-body">
            <p><strong>Số điểm của bạn quá thấp (< 80%) để có thể đặt món hàng này!</strong>
            </p>
        </section>
    </div>
</div>

<div class="columns is-multiline is-mobile p-2">
    <div class="column is-6-tablet is-12-mobile mr-5">
        <input type="text" id="ProductID" value="{{this.product.ProID}}" class="is-hidden">

        <div class="box">
            <figure class="image is-4by3">
                <img src="/img/product/{{this.product.ProID}}/1.png">
            </figure>
        </div>

        <div class="columns is-multiline">

            <div class="modal modal_image">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <p class="image is-large">
                        <img src="" alt="" class="img_src">
                    </p>
                </div>
                <button class="modal-close is-large" aria-label="close" onclick="close_img_modal()"></button>
            </div>


            <div class="column is-12 p-2">
                <section class="section">
                    <div id="slider" style="overflow: hidden">
                        <!-- Start Carousel -->
                        <div class="carousel">
                            <div class="item-1 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a onclick="modal_img({{this.product.ProID}},2);">
                                                <img
                                                        src="/img/product/{{this.product.ProID}}/2.png"
                                                        alt=""
                                                />
                                            </a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                            <div class="item-2 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a onclick="modal_img({{this.product.ProID}},3);">
                                                <img
                                                        src="/img/product/{{this.product.ProID}}/3.png"
                                                        alt=""
                                                />
                                            </a>
                                        </figure>
                                    </div>

                                </div>
                            </div>
                            <div class="item-3 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a onclick="modal_img({{this.product.ProID}},4);">
                                                <img
                                                        src="/img/product/{{this.product.ProID}}/4.png"
                                                        alt=""
                                                />
                                            </a>
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-4 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a onclick="modal_img({{this.product.ProID}},5);">
                                                <img
                                                        src="/img/product/{{this.product.ProID}}/5.png"
                                                        alt=""
                                                />
                                            </a>

                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-5 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a onclick="modal_img({{this.product.ProID}},6);">
                                                <img
                                                        src="/img/product/{{this.product.ProID}}/6.png"
                                                        alt=""
                                                />
                                            </a>
                                        </figure>
                                    </div>

                                </div>
                            </div>

                            <div class="item-7 mx-2">
                                <!-- Slide Content -->
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9 is-covered">
                                            <a onclick="modal_img({{this.product.ProID}},6);">
                                                <img
                                                        src="/img/product/{{this.product.ProID}}/7.png"
                                                        alt=""
                                                />
                                            </a>

                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Carousel -->
                    </div>
                </section>
            </div>

            {{#if auth}}
                {{#if this.isHasBidder}}
                    {{#if Bidder}}
                        <div class="column is-12 p-5">
                            <div class="table-wrapper" style="overflow-x: auto">
                                <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                                    <hr class="has-background-grey"/>
                                    <div class="card-header-title is-size-4">
                                        Lịch sử đấu giá
                                    </div>
                                    <thead>
                                    <tr class="has-text-centered">
                                        <th><abbr title="time">Thời điểm</abbr></th>
                                        <th><abbr title="bidder">Người mua</abbr></th>
                                        <th><abbr title="price">Giá</abbr></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {{#each this.listBid}}
                                        <tr class="has-text-centered">
                                            <th>{{time}}</th>
                                            <td>{{mask_name name}}</td>
                                            <td>{{format_number PriceWinAll}}</td>
                                        </tr>
                                    {{/each}}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {{/if}}

                    {{#if Seller}}
                        {{#if this.isRightSeller}}
                            <div class="column is-12 p-5">
                                <div class="table-wrapper" style="overflow-x: auto">
                                    <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                                        <hr class="has-background-grey"/>
                                        <div class="card-header-title is-size-4">
                                            Lịch sử đấu giá
                                        </div>
                                        <thead>
                                        <tr class="has-text-centered">
                                            <th><abbr title="time">Thời điểm</abbr></th>
                                            <th><abbr title="bidder">Người mua</abbr></th>
                                            <th><abbr title="username">Tài khoản</abbr></th>
                                            <th><abbr title="price">Giá</abbr></th>
                                            <th><abbr title="delete">Xóa</abbr></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {{#each this.listBid}}
                                            <tr class="has-text-centered">
                                                <th>{{time}}</th>
                                                <td>{{mask_name name}}</td>
                                                <td><a href="/account/infoHistory/{{BidderHistory}}">{{BidderHistory}}</a></td>
                                                <td>{{format_number PriceWinAll}}</td>
                                                <form action="/product/del/{{BidderHistory}}" method="post"
                                                      id="frmDelAuction-{{BidderHistory}}">
                                                    <input type="text" value="{{ProID}}" name="id" class="is-hidden">
                                                </form>
                                                <td>
                                                    <a href="javascript: $('#frmDelAuction-{{BidderHistory}}').submit();">
                                                        <button class="delete"></button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{/each}}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {{else}}
                            <div class="column is-12 p-5">
                                <div class="table-wrapper" style="overflow-x: auto">
                                    <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                                        <hr class="has-background-grey"/>
                                        <div class="card-header-title is-size-4">
                                            Lịch sử đấu giá
                                        </div>
                                        <thead>
                                        <tr class="has-text-centered">
                                            <th><abbr title="time">Thời điểm</abbr></th>
                                            <th><abbr title="bidder">Người mua</abbr></th>
                                            <th><abbr title="price">Giá</abbr></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {{#each this.listBid}}
                                            <tr class="has-text-centered">
                                                <th>{{time}}</th>
                                                <td>{{mask_name name}}</td>
                                                <td>{{format_number PriceWinAll}}</td>
                                            </tr>
                                        {{/each}}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}

                    {{#if Admin}}
                        {{#if this.isRightSeller}}
                            <div class="column is-12 p-5">
                                <div class="table-wrapper" style="overflow-x: auto">
                                    <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                                        <hr class="has-background-grey"/>
                                        <div class="card-header-title is-size-4">
                                            Lịch sử đấu giá
                                        </div>
                                        <thead>
                                        <tr class="has-text-centered">
                                            <th><abbr title="time">Thời điểm</abbr></th>
                                            <th><abbr title="bidder">Người mua</abbr></th>
                                            <th><abbr title="username">Tài khoản</abbr></th>
                                            <th><abbr title="price">Giá</abbr></th>
                                            <th><abbr title="delete">Xóa</abbr></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {{#each this.listBid}}
                                            <tr class="has-text-centered">
                                                <th>{{time}}</th>
                                                <td>{{mask_name name}}</td>
                                                <td><a href="/account/infoHistory/{{BidderHistory}}">{{BidderHistory}}</a></td>
                                                <td>{{format_number PriceWinAll}}</td>
                                                <form action="/product/del/{{BidderHistory}}" method="post"
                                                      id="frmDelAuction-{{BidderHistory}}">
                                                    <input type="text" value="{{ProID}}" name="id" class="is-hidden">
                                                </form>
                                                <td>
                                                    <a href="javascript: $('#frmDelAuction-{{BidderHistory}}').submit();">
                                                        <button class="delete"></button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{/each}}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {{else}}
                            <div class="column is-12 p-5">
                                <div class="table-wrapper" style="overflow-x: auto">
                                    <table class="table is-hoverable is-striped is-fullwidth is-bordered">
                                        <hr class="has-background-grey"/>
                                        <div class="card-header-title is-size-4">
                                            Lịch sử đấu giá
                                        </div>
                                        <thead>
                                        <tr class="has-text-centered">
                                            <th><abbr title="time">Thời điểm</abbr></th>
                                            <th><abbr title="bidder">Người mua</abbr></th>
                                            <th><abbr title="price">Giá</abbr></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {{#each this.listBid}}
                                            <tr class="has-text-centered">
                                                <th>{{time}}</th>
                                                <td>{{mask_name name}}</td>
                                                <td>{{format_number PriceWinAll}}</td>
                                            </tr>
                                        {{/each}}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}

        </div>

    </div>


    <div class="column is-5-tablet is-12-mobile ">
        <div class="columns is-multiline">
            <div class="column is-12 card-header-title is-size-4-tablet is-size-5-mobile ">
                {{this.product.ProName}}
            </div>

            <div class="column is-12">
                <div class="level columns">
                    <span class="column is-12-mobile"> Mã sản phẩm:
                        <strong class="px-1"> {{this.product.ProID}} </strong>
                    </span>

                    {{#if auth}}
                        <div class="has-text-right-tablet column is-12-mobile">
                            <div class="">
                                {{#if isLiked}}
                                    <form action="/info/cancelFavorite/{{this.product.ProID}}" method="post"
                                          id="frmCancelFavorite"></form>
                                    <a href="javascript: $('#frmCancelFavorite').submit();">Hủy yêu thích
                                        <i class="fa fa-heart has-text-danger"></i>
                                    </a>
                                {{else}}
                                    <form action="/info/addFavorite/{{this.product.ProID}}" method="post"
                                          id="frmFavorite"></form>
                                    <a href="javascript: $('#frmFavorite').submit();" class="has-text-danger">Yêu thích
                                        <i class="fa fa-heart has-text-danger-light"></i>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    {{/if}}

                </div>


            </div>

            <div class="column is-12">
                <div class="level columns">
                <span class="column is-12-mobile">Giá hiện tại: <strong> {{format_number
                        this.product.PriceCurrent}}</strong></span>
                    <span class="column is-12-mobile level-right has-text-right-tablet">Giá mua ngay: <strong> {{format_number
                            this.product.PriceWin}}</strong></span>
                </div>
            </div>

            {{#if auth}}
                <div class="column is-12">
                    <div class="level columns">
                     <span class="column is-12-mobile">Người bán:
                        <strong><a href="/account/infoHistory/{{this.product.Seller}}">#{{this.product.Seller}}</a></strong>
                         <span class="tag is-primary">{{this.point_percent_seller}}%</span>
                     </span>

                        <span  class="column is-12-mobile has-text-right">Người giữ giá:
                            <strong>#{{mask_username this.product.Bidder}}</strong>
                            <span class="tag is-primary">{{this.point_percent_bidder}}%</span>
                        </span>
                    </div>
                </div>
            {{/if}}


            <span class="column is-12 ">Bước giá: <strong>{{format_number
                    this.product.stepPrice}}</strong>
<!--                <hr class="has-background-grey"/>-->
            </span>

            {{#if this.product.isVerify}}

                <span class="column is-12 ">
                    <img src="/img/logo/star.png"  height="32" width="32">
                    <strong>Sản phẩm cần người mua uy tín</strong>

                    <hr class="has-background-grey"/>
                </span>

            {{else}}

                <span class="column is-12 ">
                    <img src="/img/logo/rating_off.png" height="32" width="32">
                    <strong>Sản phẩm không cần người mua uy tín</strong>

                    <hr class="has-background-grey"/>
                </span>

            {{/if}}


            <span class="column is-12  pt-0">Thời điểm đăng: <strong>{{this.product.DateStart}}</strong></span>
            <input class="is-block is-hidden" id="dateInput" value="{{this.product.DateEnd}}"/>

            <span class="column is-12  pb-0">Thời điểm kết thúc: <strong id="dateEnd"
                                                                         class="has-text-danger">{{this.product.DateEnd}}</strong>
            <hr class="has-background-grey"/></span>

            {{#if this.isAuth}}
                <div class="column is-12 card-content box m-0">
                    <header class="card-header">
                        <p class="card-header-title">
                            Thông tin sản phẩm
                        </p>

                        {{#if this.isRightSeller}}
                            <a class="card-header-icon card-toggle" onclick="modifyDesc();">
                                <i class="fas fa-edit"></i>
                            </a>
                        {{/if}}

                    </header>

                    <div class="card-content">
                        {{{this.product.Description}}}
                    </div>

                    <div class="card-content">

                        <div class="modifyDescription is-hidden">
                            <div class="notification is-warning check-info is-hidden">
                                <strong>Vui lòng thêm mô tả sản phẩm</strong>
                            </div>
                            <label class="label" for="txtFullDesc">Bổ sung:</label>

                            <div class="control">
                                <form action="/product/update/{{this.product.ProID}}" method="post" id="frmUpdate">
                                <textarea class="textarea"
                                          id="txtFullDesc"
                                          name="FullDesc"
                                          placeholder="Nhập ở đây">

                                </textarea>

                                </form>

                                <a class="button is-success fa fa-check"
                                   href="javascript: $('#frmUpdate').submit();"> Lưu</a>

                            </div>
                        </div>


                    </div>

                </div>

            {{else}}

                <div class="column is-12 card-content box m-0">
                    <div class="card-header-title">
                        Thông tin sản phẩm
                    </div>
                    <div class="card-content ">
                        {{{this.product.Description}}}
                    </div>
                </div>

            {{/if}}


            {{#if auth}}
                {{#if this.isExpired}}
                    <div class="column is-12 ">
                        <hr class="has-background-grey"/>
                    </div>
                    <div class="column is-12 level">
                        <div class="level-item has-text-centered">
                            <div class="tag is-danger is-light is-large ">Hết phiên đấu giá</div>
                        </div>
                    </div>

                {{else}}


                    {{#if this.product.isAuction}}
                        {{#if this.isLockAuction}}
                            <div class="column is-12 ">
                                <hr class="has-background-grey"/>
                            </div>

                            <div class="column is-12 level">
                                <div class="level-item has-text-centered">
                                    <div class="tag is-danger is-light is-large ">Bạn không được phép đấu giá</div>
                                </div>
                            </div>
                        {{else}}
                            <div class="column is-12 ">
                                <hr class="has-background-grey"/>
                            </div>
                            <div class="column is-8 ">
                                <form action="/product/setPrice" method="post" id="frmAuction">
                                    <input class="input is-large" type="number" placeholder="Đấu giá"
                                           id="number_auction"
                                           name="number" step="{{this.product.stepPrice}}" pattern="[0-9]*"
                                           value="{{this.product.PriceCurrent}}">
                                    <input type="number" value="{{this.product.ProID}}" class="is-hidden" name="id"
                                           id="ProID">
                                </form>
                            </div>

                            <div class="column is-4 has-text-centered has-text-weight-bold">
                                <a class="box has-background-primary"
                                   onclick="modal_verify();">Đấu giá</a>
                            </div>
                        {{/if}}

                    {{/if}}

                    {{#unless  this.isLockAuction}}
                        <div class="column is-12 ">
                            <form action="/product/buynow/{{this.product.ProID}}" method="post"
                                  id="frmBuynow"></form>
                            <a class="box has-background-warning has-text-centered has-text-weight-bold"
                               onclick="modal_announce();">MUA NGAY</a>
                        </div>
                    {{/unless}}

                {{/if}}

            {{/if}}
        </div>
    </div>


    <div class="column is-12 p-2">
        <hr class="has-background-grey"/>
        <section class="section">
            <div class="is-size-4-tablet is-size-5-mobile m-3 has-text-centered has-text-weight-bold">
                Bạn có thể thích
            </div>
            <div id="slider" style="overflow: hidden">
                <!-- Start Carousel -->
                <div class="carousel">

                    {{#each this.relatedProducts}}
                        <div class="item-{{ProID}} mx-2">
                            <!-- Slide Content -->
                            <div class="card" >
                                <div class="card-image">
                                    <figure class="image is-16by9 is-covered">
                                        <a href="/product/detail/{{ProID}}">
                                            <img
                                                    src="/img/product/{{ProID}}/1.png"
                                                    alt="{{ProName}}"
                                            />
                                        </a>
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="has-text-centered has-text-weight-bold">{{ProName}}</div>
                                    <!--                                <div class="item__description">-->
                                    <!--                                    Ici une petite description pour tester le slider-->
                                    <!--                                </div>-->
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <!-- End Carousel -->
                </div>
            </div>
        </section>
    </div>


</div>